@{
    ViewData["Title"] = "Home Page";
}

<style>
    .config
    {
        font-family: 'Courier New';
        color: #666;
        font-weight: bold;
    }
</style>

<h1>Hello MVC client site</h1>

<h3>Things to know:</h3>
<ul>
    <li>To authenticate, use
        <span class="config">alice</span> : <span class="config">password</span> or 
        <span class="config">bob</span> : <span class="config">password</span>
    </li>
    <li>Authenticating using an external provider (Google+ or OpenID Connect through IdentityServer online) results in an error - need to figure out how this can be resolved</li>
</ul>
